/* src/components/AlbumCard.scss */

.album-card {
    // border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
}

.album-card:hover {
    transform: scale(1.05);
}

.album-cover {
    width: 100%;
    height: auto;
    border-radius: 5px;
}