@use '../styles/variables.scss';

.box-album-details {
  border-radius: 16px;
  
  .table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .table-cell {
    flex: 1;
  }

  .eye-icon {
    cursor: pointer;
  }
}