@use '../styles/variables' as *;
@use '../styles/variables.scss';

.home-header {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid variables.$third-color;
}

.ranking-section, .worst-ranking-section {
  width: 48%;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .ranking-section, .worst-ranking-section {
    width: 100% !important;
  }
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
    margin-top: 1.5rem;
}