@use '../../styles/variables.scss';

.box-album-styles {
    height: 7.375rem;
    width: 100%;
    border-radius: 12px;
    background-color: variables.$secondary-color;

    .cover-image {
        height: 5rem;
        width: 5rem;
        object-fit: cover;
        border-radius: 12px;
    }
}
